body {
    width: 100%;
    background-color: #c5d6eb;
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin-left: 25px;
}

img {
    padding: 0 25px 0 0;
}

p {
    margin: 0;
    padding: 12px 0 12px 30px;
}

.open__notchet {
    background-color: rgb(127, 180, 250);
}

.open__chet {
    background-color: rgb(159, 199, 245);
}

.close {
    margin-left: 25px;
    color: #f50000;
    font-size: 25px;
}

.done {
    background-color: #b6c6d6;
}
